.home-content
  .home-welcome!= welcome
  .home-column.home-col1!= about
  .home-column.home-col2!= quickstart
  .home-column.home.col3!= guide
  
  .home-spacer
  
  .home-column.home-col1!= featurea
  .home-column.home-col2!= featureb
  .home-column.home-col3!= featurec